body { background-color: #ededed !important; }

.container { background-color: white !important; margin-top: 20px; }

.header { padding: 15px 0px 15px 0px; }

.titillium { font-family: 'Titillium Web'; }