@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  src: local('Titillium Web'), local('TitilliumWeb-Regular'), url(../fonts/Titillium_Web_400.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 700;
  src: local('Titillium WebBold'), local('TitilliumWeb-Bold'), url(../fonts/Titillium_Web_700.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 900;
  src: local('Titillium WebBlack'), local('TitilliumWeb-Black'), url(../fonts/Titillium_Web_900.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url(../fonts/Roboto_Condensed_400.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body { background-color: #ededed !important; }

.my-color { color: #f15c57; }

.progress-bar { background-color: #f15c57 !important; text-align: left !important; padding-left: 10px; font-size: 14px !important; }

.hobbies .label { background-color: #f15c57 !important; font-weight: 300; font-size: 12px !important;}

a { color: #f15c57 !important; }

.lightdate { color: #f15c57; font-size: 13px;}

.head {	margin-top: 10px; font-family: 'Titillium Web'; }

.head .title { font-size: 35px; font-weight: 900; }

.head .short { font-size: 25px;}

.body .title { font-family: 'Titillium Web'; font-weight: 700; font-size: 20px; margin-bottom: 10px; border-bottom: 3px double #f15c57; }

.body .content { font-family: 'Roboto Condensed'; margin-bottom: 15px; font-size: 15px; }

.intro {}

.intro .content {  }

.intro .link { font-size: 16px; }

.experience {}

.experience dt { text-align: left !important; }

.experience dd { margin-bottom: 5px !important; }

.experience .subtitle { font-size: 18px; }

.hobbies .content { font-weight: 300; font-size: 17px; }